<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
<style>
p {
  font-family: 'Share Tech Mono', monospace;
  font-style: normal;
}
.typewritten {
  max-width: 768px;
  border-style: solid;
  margin: 20px;
  padding: 10px;
}
form {
  max-width: 768px;
  margin: 20px;
  padding: 10px;
}

</style>
<p> <h2 style="padding: 20px;">Click anywhere to start customising your note to Cayley</h2></p>
<div class='typewritten'>
  <p contenteditable='true', onclick="document.execCommand('selectAll',false,null)" class='author'>A memorandum from the desk of: The World Wide Web</p><br>
  <p contenteditable='true', onclick="document.execCommand('selectAll',false,null)" class='title'>A person known as: an innovator, typist, skydiver, memo writer </p><br><br>
  <p contenteditable='true', onclick="document.execCommand('selectAll',false,null)" class='body'>This is the body of the message! This message can and should be as long as you want it to! If you haven't figured it out yet, just click anywhere to start customizing your note to Cayley!</p><br><br>
  <p contenteditable='true', onclick="document.execCommand('selectAll',false,null)" class='signature'>Signed: a loving friend</p><br><br>
  <p contenteditable='true', onclick="document.execCommand('selectAll',false,null)" class='postscript'>Postscript: Who doesn't love a good postscript! Or you can just delete the text in this section (or any section) if it's not your thing. </p><br><br><br>
</div>
<div >
  <%= form_for :message, url: :messages do |f| %>
    <p> Click send to have this note typed and delivered directly to Cayley's living room</p>
    <%= f.submit 'Send it to the press!' %>
    <%= f.text_field :author, style: 'display: none;' %><br>
    <%= f.text_area :body, style: 'display: none;' %><br>
    <%= f.text_field :title, style: 'display: none;'%><br>
    <%= f.text_field :postscript, style: 'display: none;' %><br>
    <%= f.text_field :signature, style: 'display: none;' %><br>
  <% end %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  function fillForm () {
    $('p').each( function () {
      var cssClass = $(this).attr('class')
      var text = $(this).text()
      $(`[name='message[${cssClass}]']`).val(text)
    })
  }
  $(document).ready(function () {
  $('form').submit(function (){
    fillForm()
  })
  })

</script>
